{% extends 'layout.html' %}

{% block body %}
<div id="main-container">
    <h1> About us </h1>
    <p>
        Meet the team! <br> We'd love to hear from you to get your feedback, ideas, comments or if you just want to say, 'hi'. 
    </p>

    <div class="aboutUs_ImagesContainer">
        <div class="aboutUs_largeImageNameContainer">
            <div class="aboutUs_largeImageContainer">
                <img src="static/img/aboutUs_stefan.jpg" class="">
            </div>
            <span class="aboutUs_largeName"> Stefan - Sirix <br> Discord: Sirix#4081 <br> stefan@sdgames.co </span>
        </div>

        <div class="aboutUs_largeImageNameContainer">
            <div class="aboutUs_largeImageContainer">
                <img src="static/img/aboutUs_moomoo.jpg" class="">
            </div>
            <span class="aboutUs_largeName"> Mitch - Moomoo </span>
        </div>
    </div>
</div>
{% endblock %}