{% extends 'layout.html' %}

{% block body %}
  <div class="entries">
    {% for entry in entries %}
    <div class="entry-title">
      <a href="{{ url_for('blogcreate', article_id=entry['article_id']) }}">{{ entry['title'] + " - " + entry['date'] }}</a>
    </div>
    {% endfor %}
  </div>
  <div id="editor-container">
    <form method="POST">
      <textarea id="summernote" name="editordata">{{ entry['content'] }}</textarea>
      <input type="submit" class="form-control" value="Create new blog entry" name="add" />
      <input type="submit" class="form-control" value="Overwrite existing blog entry" name="edit" />
    </form>
  </div>
{% endblock %}