<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SD Games</title>

    <link rel="icon" type="image/x-icon" href="static/img/logo.png">

    {% block head %}
      <link rel="stylesheet" href="/static/css/style.css">
    {% endblock %}

  </head>
  <body>
    <div class="header-main">
        <div class="context-box">SD Games </div>
        <!--  <br> A portfolio website to display our projects. -->
    </div>
    <div id ="menu-container">
        <nav>
            <ul id ="menu">
                <!-- <img src="static/img/logo.png" alt="logo" class="logo">  -->
                <li><a href="/index">Home</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/about">About</a></li>
                <!-- <li><a href="/contact">Contact</a></li> -->
            </ul>
        </nav>
    </div>
    
    {% block body %}{% endblock %}

    <script>
        $(document).ready(function() {
          $('#summernote').summernote();
        });
    </script>
  </body>
</html>