body {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: #18889D
}

.header-main{
  padding:  3px;
  font-size: xx-large;
  font-weight: 700;
  background-color: #18889D
}

.context-box{
  margin: auto;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  text-align: left; 
}

#menu-container{
  padding:  3px;
}

ol,ul{
  list-style: none;
}

#menu{
  display: flex;
  margin: 3px;
  width: 20%;
  padding: 3px;
}

.logo{
  height: 30px;
  width: 30px;
  padding-right: 5px;
}

#menu li{
  border: 1px solid #000;
  width: 20%;
}

#menu a{
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: #fff;
  color: #009;

}

#menu a:hover{
  background-color: #009;
  color: #fff;
}

#main-container{
  display: flex;
  column-count: 2;
  margin: 3px;
}

.entries{
  width: 20%;
  border: 1px solid #000;
}

#editor-container{
  width: 80%;
  border: 1px solid #000;
}

#blog-container{
  width: 80%;
  border: 1px solid #000;
}

#summernote{
  height: 800px;
}

.entry {
  overflow: auto;
  word-wrap: break-word;
  padding: 5px;
}

.entry-title {
  font-size: 16px;
  overflow: auto;
  word-wrap: break-word;
  padding: 5px;
}

.entry-date {
  color: #5C6B70;
  font-size: 14px;
  line-height: 150%;
}

.entry-content {
  font-size: 14px;
  line-height: 150%;
}

input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
input[type="submit"]:hover {
  color: lightblue;
}

@media only screen and (max-width: 850px) {
  html {
    background-color: #18889D
  }

  #menu{
    display: flex;
    margin: 3px;
    width: 100%;
    padding: 3px;
  }
  
  .logo{
    height: 30px;
    width: 30px;
    padding-right: 5px;
  }
  
  #menu li{
    border: 1px solid #000;
    width: 20%;
  }
  
  #menu a{
    display: block;
    padding: 3px;
    text-decoration: none;
    background-color: #fff;
    color: #009;
  }

  .entry-title {
    font-size: 10px;
    overflow: auto;
    word-wrap: break-word;
    padding: 3px;
    padding-bottom: 8px;
  }
}
